body{
    background-color: #8ec001;
}

#gameboard{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, 1fr);

    border: 1px solid #8ec001;
    padding: 3rem 10rem 1rem 10rem;

    justify-content: center;

    gap: 1rem;

    background-color: #8ec001;
}

#reset{
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    color: black;
}

.title{
    padding: 2rem;
    border-right: 2px solid #7C0B07;
    border-bottom: 2px solid #7C0B07;

    width: 2rem;
    height: 2rem;

    margin: 0;

    border-radius: 10px;
    box-shadow: 1px 1px 3px #7C0B07;

    background: linear-gradient(
        to bottom,
        #FCDE00 0%,
        #F8B003 50%,
        #EF5D07 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

#TicTacToe{
    font-family: "Grobold", sans-serif;
    font-size: 60px;
    text-align: center;
    background-color: #8ec001;
}

@font-face {
    font-family: "Grobold";
    src: url("fonts/GROBOLD.woff") format("woff2");
}

.responsive-img{
    width: 4rem;
    height: 4rem;
}

.ScoreBoard{
    display: flex;
    padding: -10rem;
    gap: 1rem;

    justify-content: center;
}

.masterScore{
    display: flex;
    gap: 1rem;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.score{
    font-family: "Grobold", sans-serif;
    font-size: 50px;
    text-align: center;
    color: #FFFFDC;
}